<h1>Welcome to Dunder Mifflin!</h1>

<%= link_to "View Employees", employees_path %><br>
<%= link_to "View Dogs", dogs_path %><br>
<br>
<hr>
<%= button_to "Create a Profile", new_employee_path(@employee), method: :get %>